body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-image: url("../img/jojo_fundo.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 3rem;
  height: 20%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

.titulo {
  color: #161616;
  opacity: 1;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 90%;
  background-color: #d9d9d9;
  opacity: 0.8;
  border-radius: 2rem;
  padding: 2.5rem;
}

button {
  background-color: #d9d9d9;
  padding: 0.5rem;
  border: none;
  opacity: 1;
  font-size: medium;
}
